@model IEnumerable<ProjetTp.Models.Fabriquant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: space-between;">
    <div class="create">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    </div>
    <div>
        <p>
            <input type="text" id="searchInput" placeholder="Rechercher">
        </p>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script>

        document.getElementById('searchInput').addEventListener('keyup', function (event) {
            if (event.key === 'Enter') {
                performSearch();
            }
        });

        function performSearch() {
            var searchTerm = document.getElementById('searchInput').value;
            window.location.href = '@Url.Action("Recherche", "Fabriquant")?nomFab=' + searchTerm;
        }
    </script>
}