@model ProjetTp.Models.MedicamentJoinResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicament.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicament.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicament.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicament.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicament.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicament.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            Fabriquant
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabriquant.Name)
        </dd>
        <dt class = "col-sm-2">
            Format
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Medicament.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
