@model IEnumerable<ProjetTp.Models.MedicamentJoinResult>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicament.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicament.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicament.ExpiryDate)
            </th>
            <th>
                Fabriquant 
            </th>
            <th>
                Format
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Medicament.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Medicament.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Medicament.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabriquant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Medicament.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Medicament.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Medicament.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
